<div *ngFor="let qtVersion of qtVersions">
    <h2>Qt {{qtVersion.versionName}}</h2>
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Qt Module</th>
                <th>Description</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let qt of qtVersion.binaries">
                <td>{{qt.module}}</td>
                <td>{{qt.description}}</td>
                <td>
                    <a href="{{qt.urlRPi1}}">RPi v1 binaries</a> |
                    <a href="{{qt.urlRPi2}}">RPi v2 binaries</a> |
                    <a href="{{qt.urlRPi3}}">RPi v3 binaries</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
