---
- hosts: 5.39.86.173
  vars:
      doc_root: /srv/www/qt-rpi

  roles:
      - role: jdauphant.nginx
        nginx_http_params:
            - access_log "/var/log/nginx/qtrpi.access.log"
            - error_log "/var/log/nginx/qtrpi.error.log"
        nginx_sites:
            qtrpi:
                - listen 80
                - server_name www.qtrpi.com
                - root {{ doc_root }}
                - location / { try_files $uri $uri/ /index.html; }
  tasks:
      - name: compile project
        local_action: command ng build --prod

      - name: deploy project
        synchronize:
            src=../dist/
            dest={{ doc_root }}
            delete=yes
            recursive=yes


