<p class="banner text-center">
    <img src="assets/img/qt_and_rpi_equals_love.png" />
</p>

<h2>Purpose</h2>
<p>
    To deploy Qt applications on a Raspberry Pi, you need to have cross-compiled your Qt dependencies. Today, this has to be done by hand (see <a href="https://wiki.qt.io/RaspberryPi2EGLFS">here</a>, <a href="https://wiki.qt.io/RaspberryPi_Beginners_Guide">here</a> and even <a href="http://wiki.qt.io/Native_Build_of_Qt5_on_a_Raspberry_Pi">here</a>). We offer you on this website: <b>Raspberry Pi precompiled Qt binaries</b> with all the dependencies.
</p>
<h2>Supported devices</h2>
<p>
    We provide cross-compiled binaries for all existing Raspberry Pi versions:
</p>
<ul>
    <li>Raspberry Pi v1</li>
    <li>Raspberry Pi v2</li>
    <li>Raspberry Pi v3</li>
</ul>

<h2>Download</h2>
<p>
    Go to the <a href="/download">Download page</a> and start getting you needed version of Qt. Right now we support:
</p>
<ul>
    <li>Qt 5.7.1</li>
    <li>Qt 5.7.0</li>
    <li>Qt 5.6.1 (LTS version)</li>
    <li>Qt 5.5.0</li>
</ul>

<h2>Contact</h2>
<p>
    You can fill a contact form from our <a href="https://www.neuronalmotion.com/contact">official website</a> or send us an email at <b>contact |at] neuronalmotion [dot] com</b>.
</p>

<h2>About us</h2>
<p>
    Our company, <a href="http://www.neuronalmotion.com">NeuronalMotion</a>, works heavily with Qt and in some of our projects, we needed to deploy Qt applications to a Raspberry Pi. Because we are developers and like to be lazy, we decided to store the precompiled Qt dependencies on a website, rather than recompiling them each time.
</p>

